/* estilos gerais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  background-color: #d3d3d3;
  border: 1px solid transparent;
  height: 3.5rem;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #bababa;
  border: #999;
}

/* container */

#calculadora {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0.5rem;
  color: #000;
}

/* display */

#display {
  text-align: right;
  min-height: 115px;
}

#operacao-anterior,
#operacao-atual {
  padding: 0.5rem;
  overflow-wrap: break-word;
}

#operacao-anterior {
  color: #777;
}

#operacao-atual {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* teclado */

#teclado {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

.numero {
  background-color: #f3f3f3;
}

.igual {
  grid-column: span 2;
  background-color: #75a5cb;
}

.igual:hover {
  background-color: #3a91d8;
}
